# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/

# Installer logs
*.log

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml

# SQLite DB
*.sqlite3
*.db

# Ignore virtualenv scripts
Scripts/
bin/

# Ignore wheel
*.whl
